<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @xxx.image %>
</p>

<p>
  <strong>Video:</strong>
  <%= @xxx.video %>
</p>

<p>
  <strong>Title:</strong>
  <%= @xxx.title %>
</p>

<p>
  <strong>Star:</strong>
  <%= @xxx.star %>
</p>

<p>
  <strong>Description:</strong>
  <%= @xxx.description %>
</p>

<%= link_to 'Edit', edit_xxx_path(@xxx) %> |
<%= link_to 'Back', xxxes_path %>
